# Specify valid name servers. You can locate them on your VPS in /etc/resolv.conf
nserver 2001:4860:4860:0:0:0:0:8888
nserver 2001:4860:4860:0:0:0:0:8844
nscache 65536
daemon
timeouts 1 5 30 60 180 1800 15 60
log /var/log/3socks.log
logformat "- +_L%t.%. %N.%p %E %U %C:%c %R:%r %O %I %h %T"
archiver gz /usr/bin/gzip %F
rotate 30
authcache user 60
auth strong
flush
maxconn 500
bandlimin 2120000
users $/etc/3proxy/.proxyauth
